# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# IDE
.vscode

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Dev files
.devcontainer

# Database
*.db

# OS
.DS_Store

# Keep these
!frontend
!backend
!nginx.conf
!railway.json
